$dark-grey: #616161;
$darkest-grey: #B6B6B6;


ul.timeline {
	position: relative;
	width: 100%;
	min-height: 250px;
	padding: 0;
	margin: 0;
	border: 1px solid $dark-grey;
	background-color: $darkest-grey;

	li {
		position: absolute;
		display: table;
		width: 5px;
		height: 5px;
		top: 5px;
		transform-origin: top left;
		transform: rotate(90deg);
		border-spacing:5px;

		span {
			font-family: sans-serif;
			background-color: #EEEEEE;
			font-size: 15px;
			display: table-cell;
			white-space: nowrap;
			padding: 4px;
			border: 1px solid #949494;
		}
	}
}