$grey: #C4C4C4;
$light-grey: #EEEEEE;
$dark-grey: #616161;
$orange: #FF7D34;

.video-container {
    .video-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: $grey;
      video { 
        width: 50%;
      }
      .controls {
        width: 100%;
        background-color: $light-grey;

        .actions {
          display: flex;
          justify-content: center;

          .btn {
            width: 50px;
            height: 50px;
            border: none;
            border-left: 1px solid $dark-grey;            
            box-sizing: border-box;
            outline: 0;

            &:hover {
              background-color: $grey;
              cursor: pointer;                            
            }

            &.mute-btn {
              border-right: 1px solid $dark-grey;
            }
          }
        }
        select.velocity {
          width: 100px;
          height: 50px;
          font-family: sans-serif;
          font-size: 22px;
          border: none;
          border-right: 1px solid $dark-grey;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background: url('../../static/svg/dropdown.svg') 96% / 15% no-repeat $light-grey;

          &:focus {
            outline: none;
          }

          &:hover {
            cursor: pointer;
            background-color: $grey;
          }            
        }
        select::-ms-expand {
            display: none; 
        }

        input[type="range"].timeline {
          -webkit-appearance: none;  
          appearance: none;        
          margin: 0;
          padding-bottom: 0;
          padding-left: 30px;
          padding-right: 30px;
          background-color: $light-grey;
          box-sizing: border-box;
          width: 100%;
          display: block;
          height: 10px;

          &:hover {
            cursor: pointer;
          }           

          &::-moz-range-thumb {
            height: 10px;
            width: 20px;
            -webkit-appearance: none;
            box-shadow: none;
            border: none;
            background-color: $orange; 
            background-clip: content-box;
            padding: 7px;

            &:hover {
              cursor: pointer;
              height: 15px;
              width: 30px;
            }            
          }

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            box-shadow: none;
            border: none;
            height: 10px;
            width: 20px;            
            background-color: $orange; 

            &:hover {
              cursor: pointer;
              margin: -2px;
              height: 15px;
              width: 30px;
            }               
          }
          &::-ms-thumb {   
            height: 10px;
            width: 20px;
            -webkit-appearance: none;
            box-shadow: none;
            border: none;
            background-color: $orange; 
            background-clip: content-box;
            padding: 7px;

            &:hover {
              cursor: pointer;
              height: 15px;
              width: 30px;
            }  
          }
          &::-webkit-slider-runnable-track {
            height: 10px;
            box-shadow: none;
            border: none;
            background-color: $dark-grey; 
          }
          &::-moz-range-track {
            height: 10px;
            box-shadow: none;
            border: none;
            background-color: $dark-grey; 
          }
          &::-ms-track {
            height: 10px;
            box-shadow: none;
            border: none;
            background-color: $dark-grey; 
          }
        }
      }      
    }
  }